 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

body {
    background: url(https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-position: 0px -200px;
    background-repeat: no-repeat;
    background-size: cover;
}

body::after{
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.568);
    top: 0;
    right: 0;
    background-blend-mode: darken;
}

.keys {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .key {
     width: 100px;
     
     margin: 1rem;
     
     background: rgb(0, 0, 0);
     color: rgb(255, 255, 255);
     
     border-radius: 6px;
     border: 1px solid white;
     
     transition: all 0.07s;
 }


 .playing {
     transform: scale(1.1);
     border-color: rgb(232, 255, 25);
     box-shadow: 0 0 10px rgb(235, 231, 11);
 }