 html {
     box-sizing: border-box;
     background: purple;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     font-weight: 200;
 }
 body {
     margin: 0;
 }
 
 *, *::before, *::after {
     box-sizing: inherit;
 }


 .panels {
     min-height: 100vh;
     overflow: hidden;
     display: flex;
     
 }

 .panel {
    text-align: center;

     color: white;
     text-align: center;
     box-shadow: 0 0 0 5px rgba(255, 255, 255, 255);
     transition:  flex 0.7s cubic-bezier(0.68, -0.19, 0.7, -0.11),
 font-size 0.7s cubic-bezier(0.68, -0.19, 0.7, -0.11);
    
     font-size: 20px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

    .panel1 {

        background-image: url('https://image.freepik.com/vetores-gratis/wallpaper-de-paisagem-em-design-plano_74890-42.jpg');
    }

    .panel2{
        background-image: url('https://image.freepik.com/vetores-gratis/wallpaper-de-paisagem-em-design-plano_74890-34.jpg');
    }
    .panel3 {
        background-image: url('https://image.freepik.com/vetores-gratis/wallpaper-de-paisagem-em-design-plano_74890-40.jpg');
    }

    .panel4 {
        background-image: url('https://image.freepik.com/vetores-gratis/wallpaper-de-paisagem-em-design-plano_74890-37.jpg');
    }
    .panel5{
        background-image: url('https://4.bp.blogspot.com/-JDUwjqvVSeM/W61VqJP54yI/AAAAAAAAQTw/1pCYu-0InT8Xn2cW1fL82SB-gVFATLCNwCLcBGAs/s2560/artre-digital-paisagem.jpg');
    }
    /* flex itens */
    .panel > * {
        margin: 0;
        width: 100%;
        transition: transform 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 auto;
    }

    .panel > *:first-child {transform: translateY(-100%);}
    .panel.open-active > *:first-child {transform: translateY(0);}
    .panel > *:last-child {transform: translateY(100%);}
    .panel.open-active > *:last-child {transform: translateY(0);}


    .panel p {
        text-transform: uppercase;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        ;
        text-shadow: 0 0 6px black;
        font-size: 2em;
    }

    .panel p:nth-child(2) {
        font-size: 4em;
    }

    .panel.open {
        flex: 5;
        font-size: 40px;
    }

    .cta {
        color: white;
        text-decoration: none;
    }